RAZORPAY_KEY_ID=rzp_live_xxxxxxxxxx
RAZORPAY_KEY_SECRET=xxxxxxxxxx
RAZORPAY_WEBHOOK_SECRET=xxxxxxxxxx
COURSE_A_DRIVE_URL=https://drive.google.com/...
COURSE_B_DRIVE_URL=https://drive.google.com/...
SUPPORT_PHONE=+91XXXXXXXXXX
